@use 'variables' as v;
@use 'mixins' as m;

.sign-in {
  display: none;
}

.sign-in__headbar {
  height: 4rem;
  background-color: v.$teal-green;
  @include m.flex-center;
}

.sign-in__form {
  padding: 2rem;
  @include m.flex-center;
  flex-direction: column;
}

a {
  @include m.flex-center;
  text-decoration: none;
}
