@use 'variables' as v;
@use 'mixins' as m;

/* .sign-up {
  display: none;
} */

.sign-up__headbar {
  height: 4rem;
  background-color: v.$teal-green;
  @include m.flex-center;
}

.sign-up__form {
  padding: 2rem;
  @include m.flex-center;
  flex-direction: column;
}
